@model IEnumerable<PowerLiftingApp_2.Models.Contender>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalResult)
        </td>
    </tr>
}

</table>
